<footer class="panel--centered" role="contentinfo">
  <div class="grid">
    <div class="centered grid__col--6">
    	<img class="img--avatar" src="https://content-na.drive.amazonaws.com/cdproxy/templink/hVCnrodsuViwhj0TwmDWWYnIEdfApDwpLJ0dd15Cq2sLAYspN?viewBox=1366">
      <p>{{ site.description }} <br>
        Follow <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> or
        subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
      </p>
    </div>
  </div>
</footer>
