<div id="instafeed">

</div>

<script type="text/javascript">
    var feed = new Instafeed({
        get: 'tagged',
        tagName: 'awesome',
        clientId: 'YOUR_CLIENT_ID',
        template: '<a href="{{link}}"><img src="{{image}}" /></a>'
    });
    feed.run();
</script>

<script type="text/javascript">
var loadButton = document.getElementById('load-more');
var feed = new Instafeed({
  // every time we load more, run this function
  after: function() {
    // disable button if no more results to load
    if (!this.hasNext()) {
      loadButton.setAttribute('disabled', 'disabled');
    }
  },
});

// bind the load more button
loadButton.addEventListener('click', function() {
  feed.next();
});

// run our feed!
feed.run();
</script>
<script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        userId: 1162818145,
        accessToken: '1162818145.467ede5.17a6cb4de2454e389fe68606cf4b0f96'
    });
    userFeed.run();
</script>
