// ==========================================================================
// Hero
// ==========================================================================

@import url(http://fonts.googleapis.com/css?family=Slabo+27px|Dancing+Script:400,700|Pinyon+Script|Great+Vibes);

.hero {
	height: 45vw;
	max-height: 550px;
	background: linear-gradient(rgba(0, 0, 0,0.7), rgba(0, 0, 0,0.7)), url('https://content-na.drive.amazonaws.com/cdproxy/templink/-6Q4JhAlnoRgQ-DetGl_80dbPcEl2-UReZODvq-0R2gLAYspN?viewBox=1366');
	// background: url('https://content-na.drive.amazonaws.com/cdproxy/templink/nfmVEHdx6ew0yo109weOdDUu3juowjVMy15YtGiTsAMLAYspN?viewBox=1366');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	margin-top: em(-48px);
	margin-bottom: em(50px);
	text-align: center;
}

.main-title {
	font-family: 'Slabo';
	color: rgba(255, 255, 255,0.95);
	font-size: 80px;
	padding-top: 14%;
	padding-bottom: 0;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.title-desc {
	color: $color-primary;
	font-size: 20px;
	
}	
	
.page-image {
	width: 100vw;
	height: 300px;
	background: url('https://content-na.drive.amazonaws.com/cdproxy/templink/JbN37FFnE5z9oDcM0Gb3k-h7V_QuUKLnz2143IblZiALAYspN?viewBox=1366');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-bottom: em(50px);
	@include mq(small) {
		margin-top: 8px;
	}
	
}	

.underline {
	display: block;
	margin: -30px auto 10px;
	height: 7px;
	width: 140px;
	background-color: #fff;
	
}

.page-header-tab {
	width: 100%;
	height: 92px;
	background-color: rgba(1,1,1,1);
	margin-top: -48px;
	@include mq(small) {
		height: 0;
		width: 0;
	}
}
