// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 500px;
	background: url('#{$path--rel}/bg-main.jpg'),
	            linear-gradient(#75da8f, #77cae9);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: em(-40px);
	margin-bottom: em(50px);
}
