// ==========================================================================
// Hero
// ==========================================================================

@import url(http://fonts.googleapis.com/css?family=Slabo+27px|Dancing+Script:400,700|Pinyon+Script|Great+Vibes);

.hero {
	height: 50vw;
	max-height: 600px;
	background: linear-gradient(rgba(0, 102, 204,0.7), rgba(0, 102, 204,0.5)), url('https://content-na.drive.amazonaws.com/cdproxy/templink/nfmVEHdx6ew0yo109weOdDUu3juowjVMy15YtGiTsAMLAYspN?viewBox=1366');
	// background: url('https://content-na.drive.amazonaws.com/cdproxy/templink/nfmVEHdx6ew0yo109weOdDUu3juowjVMy15YtGiTsAMLAYspN?viewBox=1366');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: em(-48px);
	margin-bottom: em(50px);
	text-align: center;
}

.main-title {
	font-family: 'Slabo';
	color: rgba(255, 255, 255,0.95);
	font-size: 80px;
	padding-top: 16%;
	padding-bottom: 0;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.title-desc {
	color: rgba(0, 102, 204,0.9);
	text-shadow: 2px 2px 3px rgba(255,255,255,0.9);
	font-size: 20px;
	
}	
	
.page-image {
	width: 100vw;
	height: 300px;
	background: url('https://content-na.drive.amazonaws.com/cdproxy/templink/6YD60fwiKLcHg_iWeTyAKnC6OOIlWWIKEsx1yzu6EjELAYspN?viewBox=1366');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	margin-bottom: em(50px);
	
}	

.underline {
	display: block;
	margin: -30px auto 10px;
	height: 7px;
	width: 140px;
	background-color: #fff;
	
}

.page-header-tab {
	width: 100%;
	height: 92px;
	background-color: #444;
	margin-top: -48px;
}
