// ==========================================================================
// Icons
// ==========================================================================

// UI

.icn {

	// Nav Toggle
	@include m(nav-toggle) {
		@extend %icn--ui;
		width: 25px;
		height: 17px;
		border-top: solid 3px palette(grey);
		border-bottom: solid 3px palette(grey);
		position: relative;
		@include p-el(before, 25px, 3px) {
			background: palette(grey, light);
			top: 4px;
		}
	}
}

.social-banner-icn {
	display: block;
	text-align: center;
	font-size: 22px;
	padding: 8px;
	// background: rgba(255,255,255,0.5);
	color: 	rgba(0, 102, 204,0.8);
	// border-radius: 50%;
	border-bottom: 1px solid rgba(255,255,255,0.6);
	margin: 5px;
	@media (max-width: 1050px) {
		text-align: center;
		display: inline-block;
		border-right: solid 1px rgba(255,255,255,0.6);
		border-bottom: 0;
	}	
}

#last {
	border-bottom: 0;
	@media (max-width: 1050px) {
		border-right: 0;
	}
}

.social-banner {
	border-radius: 4px 0 0 4px;
	position: fixed;
	background: rgba(200,200,200,0.7);
	right: 0;
	top: 10vw;
	@media (max-width: 1050px) {
		border-radius: 4px 4px 0 0;
		display: fixed;
		height: 9vh;
		width: 288px;
		top: 91vh;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
	}
	@media (max-width: 350px) {
		border-radius: 4px 4px 0 0;
		display: fixed;
		height: 10vh;
		width: 288px;
		top: 90vh;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
	}
}
