// ==========================================================================
// Images
// ==========================================================================

.img {
	@include m(wrap) {
		border: 1px solid palette(grey, x-light);
		padding: em(12px);
	}
	@include m(avatar) {
		display: block;
		width: 110px;
		margin-left: auto;
		margin-right: auto;
		border-radius: $br--round;
		@include mq(medium) {
			margin-top: em(24px);
		}
	}
	@include m(feat) {
	  margin-bottom: em(28px);
	  margin-top: em(-22px);
	}
}

.gallery-photo {
	display: inline-block;
	float: left;
	padding: 15px;
	border: solid 3px $color-primary;
	border-radius: 4px;
	box-shadow: 5px 5px 8px rgba(0,0,0,0.8);
	width: 30.66%;
	margin-left: 2%;
	@include mq(small) {
		display: block;
		width: 70%;
		margin-left: 15%;
		padding-bottom: 20px;
	}
}
.gallery-photo:hover {
	box-shadow: 0 0 0 rgba(0,0,0,0);
}
