// ==========================================================================
// Site Logo
// ==========================================================================

@import url(http://fonts.googleapis.com/css?family=Slabo+27px|Dancing+Script:400,700|Pinyon+Script|Great+Vibes|Orbitron:400,900);

.site-logo {
	font-family: 'Slabo';
	text-align: center;
	text-transform: uppercase;
	font-weight: $font-weight--bold;
	font-size: em(40px);
	display: block;
	color: rgba(0, 102, 204,0.8);
	width: 70px;
	height: 70px;
	margin-top: 8px;
	padding-top: 5px;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.9);
	margin-left: 20px;
	margin-top: 10px;
	@include mq(small) {
	  margin-top: 20px;
	  margin-bottom: 20px; 
	}
	@include mq(medium) {
		float: left;
		margin-top: 11px;
	}
}

.site-logo:hover {
	background-color: #fff;
}
