// ==========================================================================
// Site Logo
// ==========================================================================

.site-logo {
	text-transform: uppercase;
	font-weight: $font-weight--bold;
	font-size: em(40px);
	display: block;
	text-align: center;
	color: #222;
	margin-left: em(-80px);
	margin-top: em(70px);
	padding-top: em(6px);
	padding-bottom: em(6px);
	padding-left: em(12px);
	padding-right: em(12px);
	border-radius: 50%;
	background-color: rgba(255,255,255,0.9);
	@include mq(small) {
	  margin-top: 20px;
	  margin-bottom: 20px; 
	}
	@include mq(medium) {
		float: left;
		margin-top: 11px;
	}
}
