// ==========================================================================
// Navbar
// ==========================================================================

.navbar {	
	position: relative;
	@include mq(small) { 
		border-right: rgba(0,0,0,0.5);
		margin-bottom: em(40px);
	}
	@include mq(medium) { 
		float: right;
		margin-top: em(9px);
		margin-bottom: em(24px);
	}
}

#hidden {
	color: rgba(0,0,0,0);
	text-align: center;
	background: rgba(0,0,0,0);
	
	@include mq(small) {
		width: 100%;
		Height: 40vh;
		// background: linear-gradient(rgba(0, 0, 0,0.7), rgba(0, 0, 0,0.7)), url('https://content-na.drive.amazonaws.com/cdproxy/templink/-6Q4JhAlnoRgQ-DetGl_80dbPcEl2-UReZODvq-0R2gLAYspN?viewBox=1366');
		background: url('https://content-na.drive.amazonaws.com/cdproxy/templink/oqzMPKgu-nBw6evEe3msY7pZgdR86MCQILrXc8AUTkELAYspN?viewBox=1366');
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
		margin: 0;
		color: rgba(255,255,255,0.9);
		text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
		border-radius: 0;
		padding: 18% 0 0 0;
	}
}

#hidden .title-desc {
	display: hidden;
	
	@include mq(small) {
		display: inline;
	}
}

