// ==========================================================================
// Navbar
// ==========================================================================

.navbar {	
	position: relative;
	@include mq(small) { 
		// margin-bottom: em(40px);
	}
	@include mq(medium) { 
		float: right;
		margin-top: em(9px);
		margin-bottom: em(24px);
	}
}

#hidden {
	color: rgba(0,0,0,0);
	text-align: center;
	background: rgba(0,0,0,0);
	
	@include mq(small) {
		color: rgba(0, 102, 204,0.9);
	}
}
