// ==========================================================================
// Nav
// ==========================================================================

.nav {	
	margin-right: -100px;
	margin-top: 20px;
	@include e(item) {
		@extend %nav-item-horz;
		@include m(current) {
			@extend %nav-item-horz;
			a {
				@extend %nav-item-link;
				@extend %nav-item-on;
			}
		}
		a {
			@extend %nav-item-link;
			color: #fff;
			&:hover {
				@extend %nav-item-on;
			}
		}
	}
}
