// ==========================================================================
// Pages
// ==========================================================================

#page-images {
  display: block;
  width: 300px;
  margin: auto;
}
