// ==========================================================================
// Posts
// ==========================================================================

@import url(http://fonts.googleapis.com/css?family=Sans|Dosis:400,800|Asset|Abel|Medula+One|Fjalla+One|Cantarell:400,400italic,700italic,700);

.post {
	@include e(item) {
		background-color: rgba(255,255,255,0.9);
		border-radius: 20px;
		// border-bottom: 1px dotted palette(grey, light);
		margin-bottom: em(40px);
		padding: 20px;
		&:last-child {
			border: none;
		}
	}
	@include e(header) {
		@include mq(medium) {
		  margin-top: em(50px);
		  margin-bottom: em(44px);
  		}
	}
 
	
	@include e(content) {
		margin-bottom: em(62px);
		li {
			margin: em(4px) 0;
		}
	}
	@include e(meta) {
		margin-top: em(2px);
		margin-bottom: em(26px);
	}
	@include e(author) {
		// font-weight: bold;
		color: $color-secondary;
		font-weight: $font-weight--bold;
	}
	@include e(sep) {
		color: palette(grey, x-light);
		padding: 0 em(6px);
	}
	@include e(date) {
		font-family: 'Orbitron';
		font-weight: 900;
		color: 	$color-primary;
		opacity: 0.8;
		font-size: em(30px);
	}
}


.underline-2 {
	height: 4px;
	width: 50px;
	background: #444;
	margin-bottom: 20px;
}
