// ==========================================================================
// Posts
// ==========================================================================

@import url(http://fonts.googleapis.com/css?family=Asset|Indie+Flower|Lobster|Anton|Orbitron:400,900);

.post {
	@include e(item) {
		border-bottom: 1px dotted palette(grey, light);
		margin-bottom: em(40px);
		padding-bottom: em(32px);
		&:last-child {
			border: none;
		}
	}
	@include e(header) {
		@include mq(medium) {
		  margin-top: em(50px);
		  margin-bottom: em(44px);
  	}
	}
	@include e(content) {
		margin-bottom: em(62px);
		li {
			margin: em(4px) 0;
		}
	}
	@include e(meta) {
		margin-top: em(2px);
		margin-bottom: em(26px);
	}
	@include e(author) {
		color: $color-primary;
		font-weight: $font-weight--bold;
	}
	@include e(sep) {
		color: palette(grey, x-light);
		padding: 0 em(6px);
	}
	@include e(date) {
		font-family: 'Orbitron';
		font-weight: 900;
		color: 	rgba(0, 102, 204,1);
		font-size: em(30px);
	}
}
.underline-2 {
	height: 4px;
	width: 50px;
	background: #444;
	margin-bottom: 20px;
}
