<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  		<div class="social-banner">	
			<i class="fa fa-twitter social-banner-icn"></i>
			<i class="fa fa-instagram social-banner-icn"></i>
			<i class="fa fa-facebook social-banner-icn"></i>
			<i class="fa fa-pinterest-p social-banner-icn"></i>
			<i class="fa fa-flickr social-banner-icn"></i>
			<i class="fa fa-linkedin social-banner-icn"></i>
		</div>	
	  	<div class="wrapper">
			{% include header.html %}
	

		  {{ content }}
			<div class="push"></div>
		</div>
		 
		{% include footer.html %}
  </body>

</html>
