<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  		<div class="social-banner">	
			<a href="https://twitter.com/hannahdcasey"><i class="fa fa-twitter social-banner-icn"></i></a>
			<a href="https://instagram.com/hannahdc_/"><i class="fa fa-instagram social-banner-icn"></i></a>
			<a href="https://facebook.com"><i class="fa fa-facebook social-banner-icn"></i></a>
			<a href="https://uk.pinterest.com/hannahdalton/"><i class="fa fa-pinterest-p social-banner-icn"></i></a>
			<a href="https://flickr.com"><i class="fa fa-flickr social-banner-icn"></i></a>
			<a href="https://www.linkedin.com/profile/view?id=182331923&authType=NAME_SEARCH&authToken=KIvt&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A182331923%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1438682863949%2Ctas%3Ahannah%20casey"><i class="fa fa-linkedin social-banner-icn"></i></a>
		</div>	
	  	<div class="wrapper">
			{% include header.html %}
	

		  {{ content }}
			<div class="push"></div>
		</div>
		 
		{% include footer.html %}
  </body>

</html>
