<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
	  	<div class="wrapper">
			{% include header.html %}
		<i class="fa fa-camera-retro social-banner"></i>
		<i class="fa fa-camera-retro social-banner"></i>
		<i class="fa fa-camera-retro social-banner"></i>
		<i class="fa fa-camera-retro social-banner"></i>
		<i class="fa fa-camera-retro social-banner"></i>
		<i class="fa fa-camera-retro social-banner"></i>

		  {{ content }}
			<div class="push"></div>
		</div>
		 
		{% include footer.html %}
  </body>

</html>
