// ==========================================================================
// Main Header
// ==========================================================================

.main-header {
  width: 100vw;
  @extend %clearfix;
  @include mq(medium)  {
    height: 48px;
    background: inherit;
  }
}
